/* ==========================================================================
   3. Structure
   ========================================================================== */

.inner {
  margin: 0 auto;
  max-width: 760px;
}

.portfolio-margin{
  margin: 100px 200px;
}