---
---

/**
 * Scriptor Jekyll Theme 2.0.0
 * By Just Good Themes - https://justgoodthemes.com/
*/

/* ==========================================================================
   Table of Contents
   ========================================================================== */
/*
  0. Icons
  1. Reset
  2. General
  3. Structure
  4. Site Header
  5. Content
  7. Posts Navigation
  8. Site Footer
  9. Animations
 10. Prism
*/

// Font.
$font: (
  primary: ("Lato","Helvetica Neue",Helvetica,sans-serif),
  secondary: ("Noto Serif",Georgia,serif)
);

// Palette.
$palette: (
  accent:    #008000,
  primary:   #6b747a,
  secondary: #2c343c,
  meta:      #9ba6ad,
  bg:        #fbfbfb
);

// Imports
@import "functions";
@import "icons";
@import "reset";
@import "general";
@import "structure";
@import "site-header";
@import "content";
@import "posts-navigation";
@import "site-footer";
@import "animations";
@import "prism";